* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#container {
    background-color: #b88829;
    background-image: url("../images/crow.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border: 1em outset #B0893B;
    font-weight: 900;
    color: #1E1616;
}

h2 {
    font-size: 1.8em;
    color: #ffd18d;
    line-height: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
    font-variant: small-caps;
    font-weight: 400;
}

#poem {
    width: 55%;
}

#poem p {
    font-size: 0.9em;
    font-weight: 600;
    color: white;
    text-indent: 50px;
    margin: 5px 0;
}

span {
    text-decoration: underline rgba(219, 109, 69, 0.89) solid 2px;
}

i {
    letter-spacing: 2px;
}

footer {
    font-family: serif;
    font-size: 0.8em;
    border-top: 10px double #B0893B;

}

footer p:nth-child(1) {

    color: #F4C76C;
}